{% extends "base.html" %}

{% block title %}Digimon-list{% endblock title %}

{% block content %}
    <section>
        <h1 class="card-title">Weclome to Digimon world</h1>
        <h2 class="card-title" id="loader">Fetching Digimons, please wait! .....</h2>
    </section>
    <section class="content-section" id="cardsList">
            <ul class="row" id="cardsHolder">
            </u>
    </section>

{% endblock content %}

{% block js %}
<script>
function createDigimoncCard(name,level,imgUrl){
    ul=$("#cardsHolder")
    card=$("<li></li>").addClass("card")
    cardInfo=$("<div>").addClass("card-info-div")
    img=$("<img>")
    img.attr('src',imgUrl)
    nameTitle=$("<h5></h5>").addClass("card-title")
    levelTitle=$("<h5></h5>").addClass("card-title")
    favButton=$("<button></button>").text("add to favorite +").addClass("primary-button styled-button")
    favButton.attr("data-name",name)
    favButton.attr("data-level",level)
    favButton.attr("data-img-url",imgUrl)
    nameTitle.text("name: "+name)
    levelTitle.text("level: "+level)
    cardInfo.append(nameTitle,levelTitle)
    card.append(cardInfo,img,favButton)
    ul.append(card)
}
$(document).ready(function(){
    $.ajax({
        'url':'https://digimon-api.herokuapp.com/api/digimon',
        'type':'GET',
        success:function(result){
            ul=$("#cardsHolder")
            loader=$('#loader')
            ul.empty()
            $.each(result,function(index,value){
                createDigimoncCard(value.name,value.level,value.img)
            })
            loader.remove()
        }
    })
})

$(document).on("click",".primary-button",function(){

    data={
        "name":$(this).data("name"),
        "level":$(this).data("level"),
        "image":$(this).data("img-url")
    }
    console.log(data)
    $.ajax({
        "url":"{% url 'add_digimon_to_fav' %}",
        data:{
                "digimon_object":JSON.stringify(data),
                csrfmiddlewaretoken: '{{ csrf_token }}'
                },
        "type":"POST",
        success:function(reslut){
            console.log(reslut)
            window.location="{% url 'digimon_fav_list' %}"
        }
        
    })
})
</script>
{% endblock js %}