{% extends "base.html" %}

{% block title %}{{digimon.name}}-details{% endblock title %}

{% block content %}

<section class="content-section">
    <h1 class="m-3">Digimon details:</h1>
</section>
{% if messages %}
  <section>
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
  </section>
{% endif %}

<section class="content-section">
  <button class="styled-button danger-button" id="delete">Delete</button>
  <ul class="row">
    <li class="card">
      <img src="{{digimon.image}}">
    </li>
    <li class="card">
      <form method="POST" class="form-row">
        {% csrf_token %}
        <label class="card-title">Name:</label>
        {{form.name}}
        <label class="card-title">Level:</label>
        {{form.level}}
        <label class="card-title">Image url:</label>
        {{form.image}}
        <input type="submit" class="success-button styled-button" value="update">
      </form>
    </li>
  </ul>
</section>
{% endblock content %}

{% block js %}
<script>
  $(document).ready(function(){
    $('form').find(':input').addClass("form-text-input")
  })
  $("#delete").click(function(){
        
    $.ajax({
        url:"{% url 'delete_digimon' %}",
        type:"POST",
        data:{
            "pk":"{{digimon.pk}}",
            csrfmiddlewaretoken:"{{csrf_token}}"
        },
        success:function(result){
            window.location=result.url_redirect
        }
    })
    })
</script>
{% endblock js %}