{% extends "base.html" %}
{% block title %}Favorite-Digimon-list{% endblock title %}
{% block content %}
<section class="content-section">
    <h1 class="card-title">Favorite Digimon list</h1>
</section>
<section class="content-section">
    <div class="row">
    {% for digimon in digimon_list %}
        <div class="card">
        <div class="card-info-div">
            <h5 class="card-title">Name:{{digimon.name}}</h5>
            <h5 class="card-title">Level:{{digimon.level}}</h5>
            </div>
            <img src="{{digimon.image}}">
            <a class="primary-button styled-button" href="{{digimon.get_absolute_url}}">Details</a>
        </div>
    {% endfor %}
    </ul>
</section>
{% endblock content %}
